---
export const prerender = true;

import Layout from "../../layouts/Layout.astro";
import { ProjectNavbar } from "../../components/organization/ProjectNavbar";

// Get all the organization IDs and render the page for them
export async function getStaticPaths() {
  const API_BASE_URL = import.meta.env.API_BASE_URL;
  const response = await fetch(`${API_BASE_URL}/orgs`);
  const allOrganizations = await response.json();

  return allOrganizations.map((org: Organization) => ({
    params: {
      orgID: org.id,
    },
  }));
}

// Render the content of the page by making the relevant requests
const { orgID } = Astro.params;

const API_BASE_URL = import.meta.env.API_BASE_URL;
const orgResponse = await fetch(`${API_BASE_URL}/orgs/${orgID}`);
const orgData = await orgResponse.json();

const projectResponse = await fetch(`${API_BASE_URL}/orgs/${orgID}/projects/`);
const projectData = (await projectResponse.json()).projects;
---

<Layout title={orgData.org}>
  <div class="text-white px-28 py-8">
    <div class="orgLogo">
      <img
        src={orgData.logo}
        alt={`Logo for the organization ${orgData.org}`}
        class="orgLogo"
      />
    </div>

    <div class="orgInfo">
      <div>
        <p class="text-white text-md max-w-xl">
          {orgData.desc}
        </p>
      </div>
      <div class="graph">Display the Graph</div>
    </div>
  </div>

  <div>
    <h1
      class="text-white text-center text-5xl font-semibold pt-[180px] pb-[50px]"
    >
      Past Projects
    </h1>
    <div class="codeBlock absolute"></div>
  </div>
  <ProjectNavbar allProjects={projectData} client:only="react" />
</Layout>

<style is:global>
  .orgInfo {
    width: 100%;
    display: flex;
  }

  .orgLogo {
    height: 15vh;
    margin: 0vh 0vw 10vh 0vw;
  }

  .graph {
    display: flex;
    width: 40%;
    justify-content: center;
    align-items: center;
  }

  .pastYears {
    width: 100%;
    display: flex;
    justify-content: center;
    font-family: Lato;
    font-size: 60px;
    font-weight: 700;
    line-height: 72px;
    letter-spacing: 0em;
    margin-bottom: 6vh;
    color: white;
  }

  .lowerSection {
    width: 100%;
    padding: 0vh 1vw;
    display: flex;
    flex-wrap: wrap;
    gap: 2vh;
    justify-content: center;
    background-color: rgb(16, 16, 16);
  }
  .codeBlock {
    position: absolute;
    width: 300px;
    height: 300px;
    left: calc(50% - 150px / 2 - 78px);
    top: calc(50% - 150.05px / 2 - 47.47px);
    border-radius: 100%;
    background: linear-gradient(
      118.19deg,
      #02101a -3.62%,
      hsl(210, 94%, 21%) 55.44%,
      #0077cc 110.51%
    );
    opacity: 0.2;
    filter: blur(34px);
    transform: matrix(1, 0, -0.03, 1, 0, 0);
  }
</style>
