---
interface Props {
  name: string;
  logoUrl: string;
  id: string;
  skills: string[];
}

const { id, name, logoUrl, skills } = Astro.props;

// We will only display the non-empty and (at max) the most frequent 6 skills
const filtertedSkills = skills.filter((skill) => skill != "").slice(0, 6);

const description =
  "CNCF is the open source, vendor-neutral hub of cloud native computing, hosting projects....";
---

<div
  class="lg:w-[380px] lg:h-[450px] sm:w-[380px] sm:h-[450px] rounded-md bg-dark-blue mx-auto py-auto border-[3px] border-highlight-blue card hover:border-[5px] flex flex-col"
>
  <div class="flex flex-col justify-center items-center p-4 gap-5 mx-auto">
    <!-- Logo -->
    <div class="h-[85px]">
      <img
        class="w-24 h-24 mb-3 rounded-full"
        src={logoUrl}
        alt={`Logo for the organization ${name}`}
      />
    </div>

    <!-- Name of the organization -->
    <div class="h-[30px]">
      <h5 class="m-1 text-xl font-semibold leading-6 text-center text-white">
        {name}
      </h5>
    </div>

    <!-- Description -->
    <div>
      <p class="text-fade-grey text-sm text-center pt-[10px]">
        {
          description.length > 150
            ? description.substring(0, 150) + "..."
            : description
        }
      </p>

      <!-- Skills -->
    </div>
    {
      filtertedSkills.length != 0 ? (
        <>
          <h2 class="text-white">Project Tags</h2>
          <div class="flex flex-col mx-auto pl-2">
            <div class="flex flex-wrap items-center justify-self-center gap-[10px] pt-2">
              {filtertedSkills.map((skill) => (
                <button
                  class="inline-flex items-center px-3 py-1 text-sm font-medium text-center text-white bg-highlight-blue   rounded-3xl 
            "
                >
                  {skill}
                </button>
              ))}
            </div>
          </div>
        </>
      ) : null
    }

    <!-- View Organization Button -->
    <div class="flex space-x-3">
      <a
        href=`/org/${id}`
        class="inline-flex items-center px-4 py-2 text-sm font-medium text-center text-white bg-dark-blue border border-white rounded-3xl hover:bg-white hover:text-dark-blue hover:border-highlight-blue"
        >View in Detail</a
      >
    </div>
  </div>
</div>

<style>
  .card:hover {
    transform: scale(1.01);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  }
</style>
